<!-- Contenido principal -->
<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Este botón abrirá el menú lateral -->
    </ion-buttons>
    <ion-title>Menú - {{tienda}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content" class="welcome-content">
  <div class="welcome-message">
    <img src="{{imagen}}" alt="imagen de usuario" class="user-image">
    <h2>Bienvenido {{username}}</h2>
  </div>
</ion-content>
